/* Resetting Css Properties*/
:root {
    --primary-clr: #1e1e1e;
    --secondary-clr: #4b4b4b;
    --border-light: #b1b1b1;
    --border-focus: #319CFF;
    --primary-link: #319CFF;
    --error-clr: #E75861;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-size: 100%;
    font-weight: inherit;
}

img {
    max-width: 100%;
}

/* Styling section */
main {
    padding: 1.2em 1.4em;

}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

/******
 Form Header
*****/
.form-header h1 {
    font-size: 2rem;
    font-weight: 500;
}

.form-desc {
    margin: 1em 0 0 1em;
}

.form-desc h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-clr);
}

.form-group {
    position: relative;
}

.form-desc p {
    max-width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-clr);
}

/******
 Utility classes
*****/
.primary-link {
    font-weight: 500;
    color: var(--primary-link);
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 1.85em;
    margin-bottom: 1.2em;
}

.form-group .error-msg {
    display: block;
    color: var(--error-clr);
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    bottom: -1.25em;
    left: .25em;

}

/******
 Form group
*****/

.container {
    width: 100%;
    border-radius: .6rem;
    overflow: hidden;
}

.form-container {
    width: 100%;

}

#form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    margin-top: .5em;
}

.form-group {
    display: flex;
    flex-direction: column;
    transition: all 200ms;

}

.form-label {
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--primary-clr);
}

.form-group input {
    padding: .4em .2em;
    border-radius: .2em;
    border: 2px solid var(--border-light);
    transition: all 200ms ease;
}

.form-group input:focus {
    border: 2px solid var(--border-focus);
}

.form-group p {
    display: none;
}

#form .checkbox {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .4em;
}

#form input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
}

#form input[type='checkbox']:checked {
    accent-color: var(--primary-link);
}

.submit-form button {
    width: 100%;
    background: var(--primary-link);
    border: none;
    color: #fff;
    padding: .4em;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .2rem;
}

.login {
    font-size: 1rem;
    text-align: center;
}

.form-image {
    display: none;
}

@media all and (min-width: 1024px) {
    body {
        font-size: 80%;
    }

    .container {
        max-width: 80%;
        margin: auto;
        margin: 4em auto;
        display: flex;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    .form-container {
        padding: 3em 2em;
    }

    #form {
        margin: 0;
    }

    .form-image {
        min-width: 32.5%;
        display: block;
        background-image: linear-gradient(180deg, rgba(71, 71, 71, 0.3), rgba(97, 97, 97, 0.15), rgba(172, 172, 172, 0.05), rgba(255, 255, 255, 0)), url('./img/pexels-nataliya-vaitkevich-4943536.jpg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        position: relative;
    }

    .form-image div {
        /* From https://css.glass */
        width: 80%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
        font-size: 1.4rem;
        padding: .5em 1.2em;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }

    .form-group {
        width: 48%;
        margin-top: 2em;
    }

    .form-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
    }

    .submit-form button {
        display: block;
        padding: .5em 2em;
        width: max-content
    }

    .login {
        text-align: left;
        margin-left: .8em;
    }
}